<div style="background-color:#76A7B5; justify-content:center" class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
    </div>
    <div class="col-lg-6">
        <img src="/lib/image/logo.jpg" style="height:400px; width:800px" />
        <h1 style="color:white" class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Овета</h1>
        <p style="color:white" class="lead">Лучший магазин унитазов в мире, доставляем по всей России и СНГ. В нашем магазине продаются не только унитазы, но и различная сантехника </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Хз мб что-то потом придумаю</button>
            <button style="color:white" type="button" class="btn btn-outline-secondary btn-lg px-4">Тоже</button>
        </div>
    </div>
</div>
