<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ароматический диффузор "Северное сияние"</title>
    <link rel="stylesheet" href="~/css/podrobneeStyle.css">
</head>
<body>
    <main style="background-color: #568087; color:white" class="main-content">
        <div style="display: flex; align-items: center; justify-content: center;">
            <h1>Ароматический диффузор "Северное сияние"</h1>
        </div>
        <div class="container">
            <div class="product-info">
                <div  style="width: 50%;margin-top:20px">
                    <img src="~/lib/image/unitaz2.jpg" alt="Ароматический диффузор " class="product-image" style="width: 90%; height: auto;"/>
                </div>
                <div class="product-details">
                    <p class="price">3 500 ₽</p>
                    <button class="add-to-cart">Добавить в корзину</button>
                    <button class="buy-now">Купить в один клик</button>
                    <h2>Описание</h2>
                    <p>Диффузор "Северное сияние" создан для того, чтобы наполнить ваш дом уютной атмосферой и чарующим ароматом. Он обладает уникальным дизайном, который переливается цветами, напоминающими волшебное северное сияние. Аромат, созданный вдохновением от хвойных лесов и свежего воздуха, помогает расслабиться и создает атмосферу умиротворения. Используйте его в качестве декоративного элемента в любом помещении: в гостиной, спальне, ванной комнате.</p>
                    <h2>Характеристики</h2>
                    <ul>
                        <li>Объем: 100 мл</li>
                        <li>Время использования: 3-4 месяца</li>
                        <li>Аромат: Хвойный, свежий, уютный</li>
                        <li>Цвет: Градиент синего, фиолетового и зеленого</li>
                        <li>Материал: Стекло, дерево</li>
                        <li>Упаковка: Подарочная коробка</li>
                        <li>Комплектация: Диффузор, ароматические палочки, инструкция</li>
                    </ul>
                </div>
            </div>
            <div class="similar-products">
                <h2>Похожие товары</h2>
                <div class="product">
                    <img src="images/similar-product1.jpg" alt="Ароматический диффузор" class="product-image">
                    <h3>Ароматический диффузор "Весна"</h3>
                    <p class="price">2 900 ₽</p>
                </div>
                <div class="product">
                    <img src="images/similar-product2.jpg" alt="Ароматический диффузор" class="product-image">
                    <h3>Ароматический диффузор "Осенний лес"</h3>
                    <p class="price">3 200 ₽</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
